body{
    margin: 20px;
    font-family: sans-serif;
}

.sabrina-picture{
    width:200px;
    height:200px;
    object-fit: cover;
    object-position: 0 0;
    margin-top: 45px;
    border-bottom: 6px solid white;
}

.items{
    display: flex;
    justify-content: space-evenly;
    background: #121212;
    width: 500px;
    height: 300px;
    margin: 45px auto;
    border: 5px solid gray;
}

.info{
    margin: 80px 0;
    color: #FFFFFF;
    border: 1px dotted gray;
}